*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    color: #4a76a8;
    letter-spacing: normal;
}
h1{
    font-size: 22px;
}
h2{
    font-size: 18px;
}
li{
    list-style-type: none;
}
body{
    background: #edeef0;
}
.wrapper{
    z-index: -1;
    width: 70%;
    height: 85vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 60px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4a76a8;
    text-align: center;
    position: relative;
}
select{
    appearance:none;
    padding: 5px;
    height: 40px;
    margin-left: 10px;
    background: #224b7a;
    color: #ffffff;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
}
option{
    font-size: 20px;
    color: #ffffff;
}
.sortBy{
    font-size: 18px;
    color: #ffffff;
}
.mainUsersBlock{
    padding: 20px;
    height: calc(100% - 120px);
    background-color: #ffffff;
}
.listOfUsers{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.user{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    position: relative;
    transition: all linear 1s;
    cursor: pointer;
    text-transform: capitalize;
}
.user::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    height: 1px;
    background: #4a76a8;
    transition: all linear 0.3s;
}
.user:hover{
    background: #94ffe6;
}
.user:hover:before{
    width: 100%;
}
.userName{
    width: calc(100% - 200px);
    text-align: center;
    font-size: 22px;
}

footer{
    width: 100%;
    height: 60px;
    font-size: 22px;
    text-transform: capitalize;
    color: #ffffff;
    background: #4a76a8;
    text-align: center;
    position: relative;
    line-height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*overlay*/

.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 8px solid #ffffff;
    border-top: 8px solid #4a76a8;
    z-index: 10100;
    display: none;
    animation: spinner 1.5s linear infinite;
}
@keyframes spinner {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

/* popup */

.popupUserFullInfo{
    z-index: 10110;
    width: 500px;
    height: 250px;
    position: absolute;
    background: #ffffff;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    transition: all linear 0.4s;
    border-radius: 10px;
}
.open{
    top: 50%;
}
.close{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    margin-top: -10px;
    margin-right: -10px;
    border-radius: 50%;
    background: #224b7a;
    cursor: pointer;
}
.close:hover{
    background: #386aa3;
}
.close:hover:after, .close:hover:before{
    background: #edeef0;
}
.close::before, .close::after{
    content: '';
    height: 2px;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background: #ffffff;
}
.close::before{
    transform: translate(-50%, -50%) rotate(45deg);
}
#largeImage{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 100%;
    padding: 10px;
    background: #4a76a8;
}
#fullName{
    text-transform: capitalize;
    padding: 20px 0;
    color: #ffffff;
    font-weight: bold;
}
#aboutMe{
    width: calc(100% - 150px);
    height: 100%;
    padding: 10px;
    background: #edeef0;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#aboutMe h1{
    padding: 5px 0;
    font-weight: bold;
}
.address, .email, .number, .gender{
    display: flex;
    text-transform: capitalize;
    text-align: left;
}
#address, #email, #number, #gender{
    padding: 10px 0;
    text-align: left;
    width: 80px;
}
.info{
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: calc(100% - 80px);
}
.emailInfo{
    word-wrap: break-word;
}
/* filter */
.filter{
    filter: blur(10px);
}
.overlay{
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: #000000;
    opacity: 0.7;
    position: absolute;
    display: none;
}

/*scroll*/
::-webkit-scrollbar { width: 10px; height: 3px;}
::-webkit-scrollbar-track { background-color: #edeef0; border-radius: 10px;}
::-webkit-scrollbar-thumb { height: 50px; background-color:  #4a76a8; border-radius: 10px;}

/*media*/

@media (max-width: 800px){
    .wrapper{
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        transform: translate(0, 0);
    }
    header, footer{
        border-radius: 0;
    }

    .popupUserFullInfo {
        width: 70%;
    }
    .open{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 670px) {
    .popupUserFullInfo {
        flex-direction: column;
        width: 400px;
        height: auto;
    }
    #largeImage{
        width: 100%;
        height: auto;
        align-items: center;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }
    #myAvatar{
        width: 128px;
    }
    #aboutMe{
        width: auto;
        height: auto;
        border-bottom-left-radius: 5px;
    }
}
@media (max-width: 450px) {
    .popupUserFullInfo {
        width: 350px;
    }
}
@media (max-width: 400px){
    header{
        padding: 10px 0;
        flex-direction: column;
        justify-content: space-around;
        height: 100px;
    }
    .mainUsersBlock{
        height: calc(100% - 160px);
        padding: 10px;
        width: 100%;
    }
    .popupUserFullInfo {
        width: 270px;
    }
    .info { font-size: 14px;}
}
